
<h4>Products</h4>

<app-drag-drop
    [SourceArray]="products" 
    [SourceHeaders]="productSourceHeaders" 
    [DestinationHeaders]="productDestinationHeaders" 
    [DestinationTableHeader]="ProductHeader" 
    [SourceFilter]="true" 
 ></app-drag-drop>

<h4>Cars</h4>
<app-drag-drop 
    [SourceArray]="cars" 
    [SourceHeaders]="carSourceHeaders" 
    [DestinationHeaders]="carDestinationHeaders" 
    [DestinationTableHeader]="CarHeader"
    [SourceFilter]="true" 
></app-drag-drop>

<app-selected-table></app-selected-table>

<app-pick-list></app-pick-list>
