<h1>Cams pick list</h1>
<h4>Products</h4>

<app-cams-pick-list
    [sourceArray]="products" 
    [sourceHeaders]="productSourceHeaders" 
    [DestinationHeaders]="productDestinationHeaders" 
    [DestinationTableHeader]="ProductDestinationHeader"
    [SourceTableHeader]="productSourceHeader" 
    [SourceFilter]="true" 
    [DestinationFilter]="true" 
    [DestinationFilterBy]="productFilterByColumns"
    [SourceHeaderItem]="producttableItem"
 ></app-cams-pick-list>











<app-selected-table></app-selected-table>

<app-pick-list></app-pick-list>
