<h1>testing


</h1>
<app-test
    [sourceArray]="products"
    [destinationArray]="sortedProducts"

    [sourceTableHeader]="sourceHeaderTemplate"
    [sourceTableColumnData]="sourceColumnDataTemplate"
    [destinationTableHeader]="destinationHeaderTemplate"
    [destinationTableColumnHeader]="destinationTableColumnHeaderTemplate"
    [destinationTableColumnData]="destinationTableColumnDataTemplate"

    [sourceFilter]="true"
    [destinationFilter]="true"
    [destinationFilterBy]="productFilterByColumns"
    (destinationArrayList)="setDeleteRow($event)"

>
    
        <ng-template #sourceHeaderTemplate>
            <h4 class="sourceHeader">Component list</h4>
        </ng-template>

        <ng-template #sourceColumnDataTemplate let-product="product">
            <div>
                <h5 style="color: rgb(255, 255, 255);">Name: {{product.name}}</h5>
                <h6 style="color: rgb(89, 114, 160);">Quantity: {{product.quantity}}</h6>
            </div>
                
        </ng-template>

        <ng-template #destinationHeaderTemplate>
            <h4 class="sourceHeader">Sorted Products</h4>
        </ng-template>

        <ng-template #destinationTableColumnHeaderTemplate>
            
                <th *ngFor="let col of productDestinationHeaders">
                     {{col.header}}
                </th>
                <th>Check box</th>
                <th>Edit</th>
                <th>Delete</th>
        </ng-template>

        <ng-template #destinationTableColumnDataTemplate let-rowData="rowData">
            <td *ngFor="let col of productDestinationHeaders">
                <div> {{rowData[col.field]}} </div>
             </td>

          <td>
            <input type="checkbox" id="component" name="component" value="normal">
          </td>
          <td>
            <button type="button" class="btn btn-warning"  >Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(rowData)">Delete</button>
        </td>
    </ng-template>




</app-test>






<h1>-----------------------------------------</h1>


<app-cams-pick-list

    [sourceArray]="products"
    [sourceTableHeader]="productSourceHeader"
    [sourceTableColumnHeaders]="producttableItem"
    [sourceFilter]="true"

    [destinationTableHeader]="ProductDestinationHeader"
    [destinationTableColumnHeaders]="productDestinationHeaders"
    [destinationFilter]="true"
    [destinationFilterBy]="productFilterByColumns"

    >

</app-cams-pick-list>











