<div class="flex-container">
    
    <div>
        <div class="col-12 md:col-6 drag-column component-list" >

            
            <div class="form-group filer-position" *ngIf="sourceFilterIsShown">
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
            </div>

            <h4 class="componet-list-header">{{sourceTableHeader}}</h4>

            
                <div>
                    <hr class="hr-properties"> 
                </div>
           
            <div *ngFor="let product of camsSourceArray | filter:term">
                <div class="product-item" pDraggable="products" (click)="onClickRightCell(product)"  (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()">                 
                   
                    <div class="product-list-detail" *ngFor="let col of sourceArrayColumnItem">
                        <p class="mb-2 componet-list-items">{{product[col.field]}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="arrowbtn">
        <button type="button" class="btn btn-primary btn-width" [disabled]="rightButtonDisable" (click)="rightPushOne()" >></button>
        <button type="button" class="btn btn-primary btn-width"  (click)="rightPushAll()" >>></button>
        <button type="button" class="btn btn-primary btn-width" [disabled]="leftButtonDisable" (click)="leftPushOne()"  ><</button>
        <button type="button" class="btn btn-primary btn-width" (click)="leftPushAll()" ><<</button>      
    </div>

      <div  pDroppable="products" (onDrop)="dropRight()">
        <p-table #dt1  [value]="camsDestinationArray" [columns]="camsDestinationHeaders"  [(selection)]="selectedItem" dataKey="code"
         [reorderableColumns]="true" responsiveLayout="scroll"
         [globalFilterFields]="camsDestinationFilterBy" >

         <ng-template pTemplate="caption">
            <div style="text-align: right searchBox"  *ngIf="destinationFilterIsShown">        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50"  (input)="dt1.filterGlobal(getEventValue($event), 'contains')"   style="width:auto" placeholder="Search keyword">
            </div>
            <div>
                <h4 class="componet-list-header">{{camsDestinationTableHeader}}</h4>   
            </div>
        </ng-template>    
          
          

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:3rem"></th>
                    <th>Order</th>
                    <th *ngFor="let col of columns" pReorderableColumn>
                        <h4 class="des-header"> {{col.header}}</h4>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                    <tr  [pReorderableRow]="index"  >
                        <td>
                            <div (click)="onClickLeftCell(rowData)">    
                                 <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
                            </div> 
                       </td>
                        <td>
                            {{index+1}}
                        </td>
                        <td *ngFor="let col of columns">
                           <div (click)="onClickRightCell(rowData)"> {{rowData[col.field]}} </div>  
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
</div>
