
<div class="margin">

        <div class="card">
    
        <div class="content-section implementation">
    
            <p-pickList
            [source]="LevelName"
            [target]="SelectedLevelName"
            sourceHeader="Level Name"
            targetHeader="Levels"
            [dragdrop]="true"
                [responsive]="true"
                filterBy="text"
                sourceFilterPlaceholder="Search by name"
                targetFilterPlaceholder="Search by name"
                [style]='{width: "800px"}'
                [sourceStyle]="{height:'30rem'}"
                [targetStyle]="{'height':'30rem'}"
                class="pickliststyle"
                >
                <ng-template let-product pTemplate="item">
                    <div class="product-item">
                        <div class="product-list-detail">
                            <h5 class="mb-1">{{product.text}}</h5>
                        </div>
                    </div>
                </ng-template>
            </p-pickList>
        </div>
        
        </div>
 

    <div class="savebtn">
        <button pButton type="button" class="btnsavelist" label="Save" ></button>
    </div>

   
</div>

  
  