
<div class="flex-container cams-responsive">


<div>
    <div class="drag-column component-list " >
        <div>
            <div class=" filer-position" *ngIf="sourceFilterIsShown">
                <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
              </div>
             <div>  
                <ng-template #defaultSourceTableHeader>
                </ng-template>
                <ng-container
                [ngTemplateOutlet]="sourceTableHeader ?sourceTableHeader:defaultSourceTableHeader">
            </ng-container>

             </div>
        </div>
         <div>
              <hr class="hr-properties">
        </div>
        <div *ngFor="let product of camsSourceArray | filter:term">
            <div class="product-item" pDraggable="products" (click)="onClickRightCell(product)"  (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()">
       
                <ng-container
                 [ngTemplateOutlet]="templateSourceTableColumnHeaders"
                 [ngTemplateOutletContext] ="{product}">
                ></ng-container>    
            </div>
        </div>
    </div>
</div>

<div class="arrowbtn d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-width btn-rotate" [disabled]="rightButtonDisable" (click)="rightPushOne()" >></button>
    <button type="button" class="btn btn-primary btn-width btn-rotate"  (click)="rightPushAll()" >>></button>
    <button type="button" class="btn btn-primary btn-width btn-rotate" [disabled]="leftButtonDisable" (click)="leftPushOne()"  ><</button>
    <button type="button" class="btn btn-primary btn-width btn-rotate" (click)="leftPushAll()" ><<</button>
</div>

<div  class="drag-column" pDroppable="products" (onDrop)="dropRight()">
    <p-table #dt1  [value]="destinationArray" [columns]="camsDestinationHeaders"  [(selection)]="selectedItem" dataKey="code"
     [reorderableColumns]="true" responsiveLayout="scroll"
     [globalFilterFields]="camsDestinationFilterBy" >
     <ng-template pTemplate="caption">
        <div style="text-align: right"  class="form-group " *ngIf="destinationFilterIsShown">
            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50"  (input)="dt1.filterGlobal(getEventValue($event), 'contains')" style="overflow-x:auto;" class="destination-searchbar"  placeholder="Search keyword">
        </div>

        <ng-container *ngTemplateOutlet="templateDestinationTableHeader"></ng-container>

    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width:3rem"></th>
                <th>Order</th>
             <ng-container *ngTemplateOutlet="templateDestinationTableAddtionalColumnHeaders"></ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                <tr  [pReorderableRow]="index"  >
                    <td>
                        <div (click)="onClickLeftCell(rowData)">
                             <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
                        </div>
                   </td>
                    <td>
                        {{index+1}}
                    </td>
                    <ng-container 
                    [ngTemplateOutlet]="templateDestinationTableAddtionalColumnData"
                    [ngTemplateOutletContext] ="{rowData}">
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
    </div>

 </div>
