
.flex-container {
    display: flex;
    background-color: rgb(248, 248, 248);
  }

  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
  
  }

:host ::ng-deep .drag-column {
    padding-right: .5em;
}

.drop-column {
    border: 1px solid transparent;
    transition: border-color .2s;

    &.p-draggable-enter {
        border-color: var(--primary-color);
    }
}

.product-item {
	display: flex;
	align-items: center;
	padding: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--surface-d);

	.product-list-detail {
		flex: 1 1 0;
	}

	.product-list-action {
		display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }

    .product-category {
        vertical-align: middle;
        line-height: 1;
    }
}

[pDraggable] {
    cursor: move;
}

:host ::ng-deep .p-orderlist .p-orderlist-controls{
    display: none;
}

.btn-width{
    width: 3rem;
    margin-top: 10px;
}
.gridview .selected, .gridview tbody .selected {
    background-color: #6ccbfb;
    color: #fff;
}

:host ::ng-deep .p-orderlist .p-orderlist-list{
    background: transparent;
}

.selectionHeader{
    text-align: center;

}
.header{
    text-align: center;
}
:host ::ng-deep .flex-container[_ngcontent-mre-c108]    > div[_ngcontent-mre-c108]{
        background-color: blue;
}
.bg{
    background: red;
}

.selection-table{

    background-color: #212529;
}
td, th {
   // width:200px !important;
    height:20px !important;
  //  max-width:150px !important;
    max-height:70px !important;
   // min-width:150px !important;
    min-height:70px !important;
  }
.des-header{
    text-align: center;
    font-size: 20px;
    color:rgb(207, 203, 203);
}

.searchBox{
    width: 10%;
    height: 100px;
    background-color: gray;

}
.filer-position{
   padding-top: 10px;
   margin-left: 10px;
   margin-right: auto;
   
}

.componet-list-header{
    color: white;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}
.componet-list-items{
    color: white;
    font-size: 16px;
}
.hr-properties{
    height: 2px;
    background-color: white;
    margin: 5px;
}
.arrowbtn{

    flex-direction: column;


}
.destination-search-header{
    display: inline-block;
        flex-direction: column;
        justify-content: center;
}
.source-search-header{
    display: inline;
}
.destination-searchbar{
  width: 50%;
  border-radius: 8px;
  height: 40px;
}


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
.component-list{
    background-color: #212529;
}

@media screen and (max-width: 1200px) {
    .product-item {
        flex-wrap: wrap;

        .searchBox{
            width: 5%;
            height: 100px;
        }
    }
    .cams-responsive{
        display: inline;
        justify-content: space-between;
    }
    .arrowbtn{
        flex-direction: row;
    }
    .btn-width{
        width: 3rem;
        margin-right: 10px;
    }
    .btn-rotate{
        transform: rotate(90deg);
    }
    .component-list{
        background-color: #212529;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
  
}
