<div class="flex-container">
  
      <div style="color: black;" class="col-md-4">
        
        col-md
    
    </div>
      
    <div style="color: black;" class="col-md-1 ">
        
        <div class="button-set">
            <button type="button" class="btn btn-primary  btn-rotate"  >></button>
            <button type="button" class="btn btn-primary  btn-rotate"   >>></button>
            <button type="button" class="btn btn-primary  btn-rotate"  ><</button>
            <button type="button" class="btn btn-primary  btn-rotate" ><<</button>    
        </div>
     
    
    </div>
      <div style="color: black;" class="col-md-7">
        
        col-md
    </div>

  </div>