<div class="flex-container">
    <div>
        <div class="form-group" *ngIf="SourceFilterisShown">
            <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
        </div>
        <table  class="table table-hover table-dark selection-table">
            <thead >
              <tr>
                  <th *ngFor ="let column of SrcHeaders" ><h4 class="src-header"> {{column.header}}</h4></th>
              </tr>
            </thead>      
              <tbody>
                      <tr  *ngFor="let product of SrcArry | filter:term" >   
                        <td *ngFor="let column of SrcHeaders">
                            <div class="product-item1" (click)="onClickRightCell(product)" pDraggable="items" (onDragStart)="dragStart(product)" (onDragEnd)="dragEnd()">
                                 {{product[column.field]}}
                            </div>
                         </td> 
                      </tr>
              </tbody>
         </table>
    </div>
    <div class="arrowbtn">
        <button type="button" class="btn btn-primary btn-width" [disabled]="RightButtonDisable" (click)="RightPushOne()" >></button>
        <button type="button" class="btn btn-primary btn-width"  (click)="RightPushAll()" >>></button>
        <button type="button" class="btn btn-primary btn-width" [disabled]="LeftButtonDisable" (click)="LeftPushOne()"  ><</button>
        <button type="button" class="btn btn-primary btn-width" (click)="LeftPushAll()" ><<</button>      
    </div>
      <div  pDroppable="items" (onDrop)="dropRight()">
     
     
        <p-table #dt1  [value]="DesArry" [columns]="DesHeaders"  [(selection)]="SelectedItem" dataKey="code"
         [reorderableColumns]="true" responsiveLayout="scroll"
         [globalFilterFields]="FilterList" >

         <ng-template pTemplate="caption">
            <div style="text-align: right searchBox" *ngIf="DestinationFilterisShown">        
                <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt1.filterGlobal(getEventValue($event), 'contains')"  style="width:auto">
            </div>
            <div>
                <h4 class="des-main-header">{{SortTableHeader}}</h4>   
            </div>
        </ng-template>    
          
          

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width:3rem"></th>
                    <th>Order</th>
                    <th *ngFor="let col of columns" pReorderableColumn>
                        <h4 class="des-header"> {{col.header}}</h4>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
                    <tr  [pReorderableRow]="index"  >
                        <td>
                            <div (click)="onClickLeftCell(rowData)">    
                                 <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
                            </div> 
                       </td>
                        <td>
                            {{index+1}}
                        </td>
                        <td *ngFor="let col of columns">
                           <div (click)="onClickRightCell(rowData)"> {{rowData[col.field]}} </div>  
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
</div>
